In [1]:
#Has the network latency gone up since we switched internet service providers?

In [3]:
# pyplot for plotting
import matplotlib.pyplot as plt
# numpy for vectorized array operations
import numpy as np
# pandas for proper tabular manipulation
import pandas as pd
# scipy stats for our subversions
from scipy import stats
from env import user,pwd, host
from env import get_db_url
url = get_db_url('telco_churn')

In [4]:
#previous netwrok latency = ?
#current network latency = ?
#compare values
#    - has it gone up?
#    - has it stayed the same?
#    - has it gone down?
#-If it has gone up does that have anything to do with changing networks?
#-If it has gone down does that have anything to do with changing networks?
#-If it has stayed same does that have anything to do with changing networks?

In [5]:
#Answer with the type of test you would use (assume normal distribution):

#Is there a difference in grades of students on the second floor compared to 
#grades of all students?
#Are adults who drink milk taller than adults who dont drink milk?
#Is the the price of gas higher in texas or in new mexico?
#Are there differences in stress levels between students who take data science 
#vs students who take web development vs students who take cloud academy?

In [6]:
#Ace Realty wants to determine whether the average time it takes to sell homes 
#is different for its two offices. A sample of 40 sales from office 
# 1 revealed a mean of 90 days and a standard deviation of 15 days. A sample 
#of 50 sales from office #2 revealed a mean of 100 days and a standard deviation 
#of 20 days. Use a .05 level of significance.

# 2 groups normal distribution
#comparing 
    #average time - continuious values
    #two groups are discrete
#samples    one or two
# two samples
#tails? one or two
#equal or not
#form hypothesis

#p value when one tail you divide it by 2 

#$H_0$: both offices are same office 1 == office 2
#H_null opposites both offices are same office 1 != office 2
#significance level = 0.05


#here we generated normal visuals to see the "arange we set on the x axis "
x=np.arange(50,150)
# normal bell curve distributions get an idea
y1= stats.norm(90,15).pdf(x)

y2= stats.norm(100,20).pdf(x)

plt.figure(figsize = (9,6))

In [7]:
from pydataset import data

mpg = data('mpg')
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [8]:
#Load the mpg dataset and use it to answer the following questions:

#Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
#two samples two tails
#t test independent 

#Do manual cars get better gas mileage than automatic cars?

In [9]:
#ho= no difference
#ha= yes difference
# we need harmonic mean
#calculate average fuel economy 50% highway 50% city

In [10]:
#Are compact cars more fuel-efficient than the average car?

In [11]:
#Answer with the type of stats test you would use (assume normal distribution):
#Is there a relationship between the length of your arm and the length of your foot?
# -Pearsons
#Do guys and gals quit their jobs at the same rate?
# -indep T-test two tails
#Does the length of time of the lecture correlate with a students grade?
# -Pearsons

In [12]:

telco_churn = pd.read_sql('Select * From customers',url)

In [13]:
telco_churn

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,...,No,Yes,Yes,No,2,Yes,2,65.60,593.3,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,No,No,No,Yes,1,No,2,59.90,542.4,No
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,...,Yes,No,No,No,1,Yes,1,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,...,Yes,No,Yes,Yes,1,Yes,1,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,...,No,Yes,Yes,No,1,Yes,2,83.90,267.4,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,1,Yes,...,No,Yes,No,No,2,No,2,55.15,742.9,No
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,2,No,...,No,No,No,Yes,1,Yes,1,85.10,1873.7,Yes
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,1,No,...,No,No,No,No,1,Yes,2,50.30,92.75,No
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,1,Yes,...,Yes,Yes,No,Yes,3,No,2,67.85,4627.65,No
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,1,Yes,...,Yes,No,Yes,Yes,3,No,1,59.00,3707.6,No