In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'
import viz # curriculum example visualizations

np.random.seed(29)

In [21]:
#1. How likely is it that you roll doubles when rolling two dice?
n_simulations = nrows = 10**5
n_dice_rolled = ncols = 2

rolls = np.random.choice([1, 2, 3, 4, 5, 6], size = (nrows, ncols))
rolls_df = pd.DataFrame(rolls, columns=['roll_1', 'roll_2'])
rolls_df

       roll_1  roll_2
0           1       1
1           3       2
2           6       6
3           4       3
4           2       3
...       ...     ...
99995       6       1
99996       1       3
99997       6       4
99998       6       4
99999       4       2

[100000 rows x 2 columns]

In [50]:
rolls_df['doubles'] = (rolls_df.roll_1 == rolls_df.roll_2)

rolls_df.doubles.sum()/n_simulations
#naps.sum(axis=1)
#(naps.sum(axis=1) >= 1).mean()

0.16663

In [48]:
#2. If you flip 8 coins, what is the probability of getting 
#exactly 3 heads? What is the probability of getting more than 3 heads?
# 1=heads =true 2=tails
n_simulations = nrows = 10**5
n_coin_toss = ncols = 8

tosses = np.random.choice([True, False], size = (nrows, ncols))
tosses_df = pd.DataFrame(tosses, columns=['toss_1', 'toss_2', 'toss_3', 'toss_4', 'toss_5', 'toss_6', 'toss_7', 'toss_8'])

tosses_df['sum_totals'] = tosses_df.apply(lambda row:row.sum(), axis=1)
exactly_3 = len(tosses_df[tosses_df.sum_totals == 3])/n_simulations
more_than_3 = len(tosses_df[tosses_df.sum_totals > 3])/n_simulations
#tosses_df['heads_exactly_3'] = tosses_df.
#rolls_df.head()
more_than_3

0.63532

In [49]:
exactly_3

0.21939

In [68]:
# 3. There are approximately 3 web development cohorts for 
#every 1 data science cohort at Codeup. Assuming that Codeup 
#randomly selects an alumni to put on a billboard, what are 
#the odds that the two billboards I drive past both have data 
#science students on them?
#'web1', 'web2', 'web3', 'ds4'
n_simulations = nrows = 10**5
n_billboards = ncols = 2

drive_by = np.random.choice([0,0,0,1], size = (nrows, ncols))
drive_by_df = pd.DataFrame(drive_by, columns=['billboard_1', 'billboard_2'])
drive_by_df

       billboard_1  billboard_2
0                1            1
1                1            0
2                1            1
3                0            0
4                0            0
...            ...          ...
99995            0            0
99996            0            0
99997            0            1
99998            0            0
99999            0            1

[100000 rows x 2 columns]

In [75]:

((drive_by_df.sum(axis=1)==2).sum())/n_simulations

0.0607

In [ ]:

#start 17 on Monday
per_day = 3
ndays = ncols = 7
n_simulated_days = nrows = 10**5
np.random.normal(loc=3, scale=1.5, size=None)

#data = np.random.random(size =(nrows, ncols))

In [76]:
#5. Compare Heights